* {
    font-family: sans-serif;
}

body {
    background: url('bg.jpg');
}

#container {
    /* width: 100%; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.cont {
    color: yellow;
    border: 1px solid yellow;
    border-radius: 20px;
    padding: 10px;
}

#app {
    color: yellow;
    border: 1px solid yellow;
}
